@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  input {
    @apply text-black border border-gray-500 px-2 py-1 rounded-md;
  }
}

@layer components{
  .btn-primary {
    @apply border border-green-800 text-black px-2 py-1 rounded-full shadow-sm hover:shadow-lg font-bold uppercase transform transition-shadow duration-200;
  }
}

.layout {
  background-color: #ffff;
  background-image:  radial-gradient(#166534 0.5px, transparent 0.5px), radial-gradient(#1a7a3e 0.5px, #c7d2cb 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}